<ion-view title='<img class="title-image" src="img/logo.png" />'>

    <ion-content class="has-footer home">
        <grid-progress></grid-progress>
        <h1 class="text-center assertive pushup" ng-click="goToGrid()">{{ pushups }}</h1>
        <h2 class="text-center energized pushup">pushups today</h2>
            <ion-item class="item-divider item-dark text-center">History</ion-item>
            <div ng-repeat="item in items">
                <ion-item class="item-divider" ng-if="(item.day | date: 'MM')  != (items[$index - 1].day  | date: 'MM')">{{ item.day | date: 'MMM yyyy'}}</ion-item>
                <ion-item class="history">
                    <div class="side assertive-bg">
                        <h3>{{ item.day | date:'dd' }}</h3>
                    </div>
                    <div class="main">
                        <h2>{{ item.pushups }}</h2>
                        <span>Push-ups</span>
                    </div>
                </ion-item>
            </div>

    </ion-content>
    <ion-footer-bar class="bar-energized">
        <button class="button button-full button-energized padding-bottom footer-button" ui-sref="app.grid">
            <span ng-show="pushups == 0">Start a new GRID</span>
            <span ng-show="pushups > 0">Continue today's GRID</span>
        </button>
    </ion-footer-bar>
</ion-view>
