<ion-view view-title="Activity">
    <ion-content>
        <div class="padding">
            <div class="card padding">
                <h1>The Push-up grid</h1>
                <p>
                    The Push-up grid is an idea from Bobby Maximus of Gym Jones. The idea is that - without time, money,
                    equipment or a gym - you can still workout. Even on busy days.
                </p>
                <h3>How you do it:</h3>
                <ul>
                    <li><em>Step 1:</em><p>
                        Draw a grid on a piece of paper, like a tic-tac-toe box
                        You can make as many boxes as you like. The more boxes, the harder the workout.
                    </p></li>
                    <li><em>Step 2:</em><p>
                        Do pushups. With each set, fill in a box. Your goal is to fill out the boxes with sets of pushups.
                    </p></li>
                </ul>
                <p>Or: you can use this app for the grid instead of a piece of paper, get started and track your progress.<br />
                Have fun!</p>
            </div>
        </div>

    </ion-content>
</ion-view>
