<ion-view view-title="Settings">
    <ion-content>
        <ion-item>
            <h2>Grid settings</h2>
        </ion-item>
        <!--<ion-item class="item-divider">on app start</ion-item>-->
        <!--<ion-toggle ng-model="settingsData.gridRedirect">Go to grid immediately</ion-toggle>-->
        <ion-item class="item-divider">Grid width</ion-item>
        <ion-radio ng-model="settingsData.gridWidth" ng-value="'large'" ng-change="changeGridWidth()">4 sets</ion-radio>
        <ion-radio ng-model="settingsData.gridWidth" ng-value="'medium'" ng-change="changeGridWidth()">5 sets
        </ion-radio>
        <!--<ion-radio ng-model="settingsData.gridWidth" ng-value="'small'" ng-change="changeGridWidth()">10 sets-->
        <!--</ion-radio>-->
        <ion-item class="item-divider">Amount of sets on grid ( {{ settingsData.gridSize }} )
            <p><i class="ion-information assertive"></i> If you already started a new grid for today, changes will apply the next day</p>
        </ion-item>
        <div class="item range range-positive range-knob-handle range-knob-pressed range-knob-min">
            20 <input type="range" name="gridsize" min="20" max="100" snaps="true" ng-model="settingsData.gridSize"
                      ng-change="changeGridSize()" step="20"> 100

        </div>
    </ion-content>
</ion-view>
